.home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    padding: 20px ;
    text-align: left;
    align-items: center;
    
}

.cardContainer{
    display: flex;
gap: 20px;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
}